<%= form_with(model: suplier, local: true) do |form| %>
  <% if suplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suplier.errors.count, "error") %> prohibited this suplier from being saved:</h2>

      <ul>
      <% suplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :suplier_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :suplier_password %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :suplier_email %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.text_field :parent_id, id: :suplier_parent_id %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id, id: :suplier_shop_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
