<p id="notice"><%= notice %></p>

<h1>Supliers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Parent</th>
      <th>Shop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supliers.each do |suplier| %>
      <tr>
        <td><%= suplier.username %></td>
        <td><%= suplier.password %></td>
        <td><%= suplier.email %></td>
        <td><%= suplier.parent %></td>
        <td><%= suplier.shop %></td>
        <td><%= link_to 'Show', suplier %></td>
        <td><%= link_to 'Edit', edit_suplier_path(suplier) %></td>
        <td><%= link_to 'Destroy', suplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suplier', new_suplier_path %>
