<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @suplier.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @suplier.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @suplier.email %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @suplier.parent %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @suplier.shop %>
</p>

<%= link_to 'Edit', edit_suplier_path(@suplier) %> |
<%= link_to 'Back', supliers_path %>
