<div class="container">
  <div class="row">
    <h2>This order is ready to be delivered to you <%=@order.name%> </h2>
    <hr>
    <h2 class="title">The information of your order</h2>
    <div>
      <h3>Shipping Adress</h3>
      <p>Name    : <span><%=@order.name%></span></p>
      <p>Address : <span><%=@order.address%></span></p>
      <p>Phone   : <span><%=@order.phone%></span></p>
    </div>
    <hr>
    <h2 class="title">The detail of your order</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="theader">
            <th>Name</th>
            <th>Quality</th>
            <th>Price</th>
            <th>Temporary sum</th>
          </tr>
        </thead>
        <% @order_items.each do |item|%>
        <tr class="content">
          <td ><%= item[:name]%></td>
          <td ><%= item[:quantity]%></td>
          <td ><%= item[:price]%></td>
          <td ><%= item[:price].to_i*item[:quantity].to_i%></td>
        </tr>
        <% end %>
        <tr class="content total">
          <td></td>
          <td></td>
          <td>Total</td>
          <td ><%= @sum%></td>
        </tr>
      </table>
    </div>
  </div>
</div>
