<p id="notice"><%= notice %></p>

<h1>Units</h1>
<%= link_to 'New Unit', new_unit_path, :class => 'btn btn-primary' %>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Syntax</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.syntax %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit),:class => 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="box-footer clearfix">
 <ul class="pagination pagination-sm no-margin pull-right">
   <li>
     <%= link_to units_path(page: params[:page].to_i-1 < 1 ? 1 : params[:page].to_i-1) do %>
     <span>&laquo;</span>
     <% end %>
   </li>
   <% for i in (@start_page..@end_page)%>
   <li> <%=link_to i, units_path(:page => i)%></li>
   <% end %>
   <li>
     <%= link_to units_path(page: (params[:page].to_i>@page_numbers ? @page_numbers : params[:page].to_i)) do %>
     <span>&raquo;</span>
     <% end %>
   </li>
 </ul>
</div>

