<p id="notice"><%= notice %></p>
<h2>Unit</h2>
<table class="table table-bordered">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @unit.name %></td>
  </tr>

  <tr>
    <td><strong>Syntax:</strong></td>
    <td><%= @unit.syntax %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_unit_path(@unit), :class => 'btn btn-warning' %> 
<%= link_to 'Back', units_path, :class => 'btn btn-primary'  %>
