<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<%= link_to 'New Category', new_category_path, :class => 'btn btn-primary'%>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parent_cate.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <ul>
          <%Category.where(parent_id: category.id).each do |sub_cate|%>
          <li>
            <%= link_to sub_cate.name, sub_cate%>
          </li>
          <%end%>
        </ul>
      </td>
      <td><%= link_to 'Show', category, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_category_path(category), :class => 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="box-footer clearfix">
 <ul class="pagination pagination-sm no-margin pull-right">
   <li>
     <%= link_to categories_path(page: params[:page].to_i-1 < 1 ? 1 : params[:page].to_i-1) do %>
     <span>&laquo;</span>
     <% end %>
   </li>
   <% for i in (@start_page..@end_page)%>
   <li> <%=link_to i, categories_path(:page => i)%></li>
   <% end %>
   <li>
     <%= link_to categories_path(page: (params[:page].to_i>@page_numbers ? @page_numbers : params[:page].to_i)) do %>
     <span>&raquo;</span>
     <% end %>
   </li>
 </ul>
</div>

