<%= form_with(model: order, local: true) do |form| %>
<div class="box-body col-md-8">
  

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :order_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :order_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :gender, [['Waiting', "Waiting"], ['Ordered', "Ordered"], ['Done', "Done"]],{},{:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :trans_at %>
    <%= form.date_field :trans_at, id: :order_trans_at, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :order_user_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
