<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :user_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :user_lastname %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :user_birthday %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :user_avatar %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.number_field :role, id: :user_role %>
  </div>

  <div class="field">
    <%= form.label :confirm_token %>
    <%= form.text_field :confirm_token, id: :user_confirm_token %>
  </div>

  <div class="field">
    <%= form.label :confirm_at %>
    <%= form.date_select :confirm_at, id: :user_confirm_at %>
  </div>

  <div class="field">
    <%= form.label :confirm_send %>
    <%= form.date_select :confirm_send, id: :user_confirm_send %>
  </div>

  <div class="field">
    <%= form.label :reset_password_token %>
    <%= form.text_field :reset_password_token, id: :user_reset_password_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
