<h2>Information</h2>
<table class="table table-bordered">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @item.name %></td>
  </tr>

  <tr>
    <td><strong>Price:</strong></td>
    <td><%= @item.price %></td>
  </tr>

  <tr>
    <td><strong>Avatar:</strong></td>
    <td> <%= image_tag(@item.avatar, size: "100") if @item.avatar %></td>
  </tr>

  <tr>
    <td><strong>Status:</strong></td>
    <td><%= @item.quantity == 0 ? 'Hết hàng' : 'Còn hàng' %></td>
  </tr>

  <tr>
    <td><strong>Quantity:</strong></td>
    <td><%= @item.quantity %></td>
  </tr>

  <tr>
    <td> <strong>Unit:</strong></td>
    <td><%= @unit_name %></td>
  </tr>

  <tr>
    <td><strong>Category:</strong></td>
    <td><% @category_name. each do |name|%>
      <p><%= name.name %></p>
      <%end%>
    </td>
  </tr>

  <tr>
    <td><strong>Shop:</strong></td>
    <td><%= @shop_name %></td>
  </tr>
</table>

<p>
  <strong>Description:</strong>
  <%= @item.description.html_safe if @item.description? %>
</p>



<%= link_to 'Edit', edit_item_path(@item), :class => 'btn btn-warning' %> |
<%= link_to 'Back', items_path, :class => 'btn btn-primary' %>
